body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#navbar {
    padding: 0;
    margin: 0;
    display: block;
    height: 34px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.leftnav {
    margin-top: 12px;
}

.rightnav{
    margin-top: 10px;
}

li a {
    font-size: 13px;
    text-decoration: none;
    color: #333;
    display: inline-block;
}

#about {
    padding: 0 15px 0 17px;
}

#images{
    padding-top: 7px;
    padding-left: 15px;
}

#gmail {
    padding-top: 7px;
}

#appsmenu {
    background-image: url(i1_1967ca6a.png);
    background-position: -132px -38px;
    background-size: 528px 68px;
    height: 30px;
    width: 30px;
    margin-left: 15px;
}

#signin {
    color:white;
    font-weight: bold;
    padding: 0 12px;
    background: #4387fd;
    line-height: 28px;
    margin: 0 20px 0 15px;
    border-radius: 2px;
}

#logo {
    display: block;
    margin: 115px auto 26px auto;
}

#searchbar {
    display: block;
    width: 41%;
    font-size: 15px;
    padding: 11px 18px;
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 15%);
    background-color: white;
    margin: 0 auto 26px auto;
}

#searchbuttondiv {
    display: flex;
    justify-content: center;
}

.searchbuttons {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 60%);
    background-color: rgba(200, 200, 200, 20%);
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    margin:0 5px;
}

footer {
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(200, 200, 200, 20%);
    border-top: 1px solid rgba(0, 0, 0, 7%);
}

footer a {
    text-align: center;
    font-size: 14px;
    color:rgba(0, 0, 0, 60%);
    padding: 12px 13px;
}